body{
    background-color: #d4ae7c;
    margin-left: 14px;
    margin-right: 14px;
}

section{
    background-color: #cec1b6;
    margin-left: 90px;
    margin-right: 100px;
    padding-bottom: 700px;
}

header{
    margin-left: 50px;
    margin-right: 50px;
}

div{
    text-align: left;
    margin-left: 14px;
    margin-right: 14px;
} 

input{
    border-radius: 30px;
    float: right;
    margin: 10px;
    background-color: rgb(233, 245, 245);
}

.responsive {
    width: 100%;
    height: auto;
  }

h1{
    text-align: center;
}


img{
    margin-left: 14px;
    margin-right: 14px;
    width: 1000px;
    height: 357px;
}
footer{
    background-color: #66360e;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px;

}
ul {
    list-style-type: none;
    margin: 15px; ;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: justify-all;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
div{
    text-align: left;
}
